body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .forms{
  width: 100% !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .forms .row{
  width: 100%;
  height: 100%;
  flex-basis: 100%;
}
body .forms .row .col-md-6{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

body .forms .card{
  width: 500px;
  min-height: 400px;
  display: flex;
}
body .forms form{
  color: white;
}
body .forms form label{
  display: block;
}
.card-header {
  font-size: 24px;
}
.form-floating label{
  color: white;
  display: block;
  font-size: 24px;
}
.form-floating input:-ms-input-placeholder{
  color: black !important;

}